<footer class="footer d-flex bg-dark py-3 mt-auto">
    <div class="container">
        <hr>
        <span class="">&copy; YelpCamp</span>
        <span class="copyrighter float-md-end">William East (wjbetech@gmail.com)</span>
    </div>
</footer>
